@import "tailwindcss";
@config "../tailwind.config.ts";
@import "@fontsource/raleway/400.css";
@import "@fontsource/raleway/600.css";
@import "@fontsource/raleway/700.css";

:root {
  font-family: "Raleway", system-ui, sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}
